body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.content-area {
  margin: 30px;
}
.input-area {
  margin: 25px;
}
.task-text {
  display: flex;
  align-items: center;
  height: 40px;
}
.hidden {
  display: none;
}
.delete-icon-area {
  display: flex;
  align-items: center;
  height: 40px;
}
.delete-icon {
  color: red;
}
.complete {
  text-decoration: line-through;
}

.functions {
  display: flex;
  padding-top: 13px;
}
.functions a {
  color: red;
  padding: 5px;
}

.ul {
  margin-left: 25%;
}

.ul li {
  width: 70%;
}
.btn button {
  margin-right: 30px;
}
